<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"4em","bottom":"10em","right":"0px"}}},"layout":{"inherit":false}} -->
<main class="wp-block-group" style="padding-top:4em;padding-right:0px;padding-bottom:10em"><!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:pattern {"slug":"skatepark/columns-in-container"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"inherit":false}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"color":{"text":"#d1d1d1"}}} -->
<p class="has-text-color" style="color:#d1d1d1">REFERENCE PROJECTS</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"left":"50px"}}},"layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group" style="padding-left:50px"><!-- wp:paragraph -->
<p><a href="http://localhost/mmn-music-blog/">MMN music blog</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"left":"50px"}}},"layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group" style="padding-left:50px"><!-- wp:paragraph -->
<p>Lahmacun community radio</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"left":"50px"}}},"layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group" style="padding-left:50px"><!-- wp:paragraph -->
<p>MŰTŐ art group &amp; gallery</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer-container"} /-->