<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"4em","bottom":"0"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:4em;padding-bottom:0"><!-- wp:post-title {"level":1,"align":"wide","style":{"spacing":{"margin":{"bottom":"30px"}},"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"100"},"color":{"text":"#d1d1d1"}},"fontSize":"medium"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"15em"}}}} -->
<main class="wp-block-group" style="padding-bottom:15em"><!-- wp:post-content {"layout":{"inherit":true,"justifyContent":"center","contentSize":"1160px"}} /-->

<!-- wp:group {"align":"full"} -->
<div class="wp-block-group alignfull"></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer-container"} /-->